html, body {
  margin: 0;
  padding: 0;
}

         
.button {
  background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  /*text-transform: uppercase;*/
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 250px;
  display: block;
  width: 98%;
  font-size: 50px;
  height: 9%;
  border-left: white;
  border-right: white;
  border-top: white;
  border-bottom: white;

}

.button:hover {
  box-shadow: 0 0 10px black;
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  border-left: white;
  border-right: white;
  border-top: white;
  border-bottom: white;
}

.button:focus {
	  box-shadow: 0 0 10px black;
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  border-left: white;
  border-right: white;
  border-top: white;
  border-bottom: white;
}

input{
  background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  align-items: center;
  font-size: 50px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 10px white;
  border-radius: 600px;
  display: block;
  width: 88%;
  border-left: black;
  border-right: black;
  border-top: black;
  border-bottom: black;
  outline: none;
  height: 5.5%;
}
input:focus{
	  box-shadow: 0 0 10px black;
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  border-left: black;
  border-right: black;
  border-top: black;
  border-bottom: black;
}

input:focus{
	  box-shadow: 0 0 10px black;
  color: #fff;
  text-decoration: none;
  border-left: black;
  border-right: black;
  border-top: black;
  border-bottom: black;
}

.langbutton {
  background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  /*text-transform: uppercase;*/
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  width: 250px;
  font-size: 17.5px;
  height: 11%;
  width: 15%;
  border-left: white;
  border-right: white;
  border-top: white;
  border-bottom: white;
}

.langbutton:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  border-left: white;
  border-right: white;
  border-top: white;
  border-bottom: white;
}